# Personality Profiles

[ short description]

---
#### Table of Contents

[EDA](#EDA)

[Feature Creation](#feature_creation)

[NLP](#nlp)

---

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("data/train.csv")

<a id="EDA"> </a>

---
## EDA

In [6]:
data.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [7]:
data['posts'].loc[42]

"Painting the world with the colors of my soul. Interpret it as you like - helping others by volunteering, teaching, giving everything you have.  Personal growth - learning as much about the universe...|||6 months ago I met this ENTP guy at my university. We are in the same group, so we basically have to be together everyday, and most likely have to study together for the next 6 years. So cutting off...|||1984 all the way|||I don't like people in groups because it's harder to enslave them.|||ESxJ or ISxJ, because I've noticed that ISxJs don't have much trouble with small talk either.  I'd say ISTJ.|||secret :)|||I really like the movie, and Alice is my alter ego in internet, since people find my real name a bit weird.|||Sense of smell easily, because my sense of smell has always been kind of weak. I think it's better that way, because I don't feel and suffer from disgusting smells people seem to feel everyday. I...|||I don't think there's a certain type who would tend to do this. I think it depends on other factors and influences throughout the person's life.|||Honey badgers|||ENFP - creative and challenging conversations. Fun to have both small talk and philosophical rambling.  ENTJ/ENFJ - adventurous friend who allows me to see things from different perspective. ENTP -...|||Please, change my username to A Clockwork Alice|||dodartt|||I'd say you're an ENFP, possibly an ESFP too.|||Completely agree with everything OP said. I am cautious around new people and usually hold my true-self inside. Because of that people assume that I am a very calm, shy, possibly even slow and...|||Less planning, more random writing. Let the words flow out of you. Try to write in start and add the characters later. Basically do the opposite of what you've done before and see what happens.|||My native language is Latvian. English is my second language, but I have become fluent enough in that. (At least I hope so). I know a little bit of Russian and German, but I have no further interest...|||Basically I ask myself questions which affect me. Those ordinary existential ones - what is the meaning of my life, what am I, where am I going, what could happen and what couldn't, what changes...|||Blind|||I like learning languages, but I'm too lazy to do it. For now, I'm fluent in English and Latvian, but forcing myself to learn Russian. I really want to learn at least one of Scandinavian languages...|||I was definitely an ENFP. Until society broke me.|||Everyday would be sunny, grass would always be green, all people would be smiling for no reason, everyone would go to church on Sundays etc. All of the earth would be just a big suburb full of sensor...|||1) Once 3) 24 h 4) I like to talk like Yoda. Also Doctor Who quotes. (Let's go poke it with a stick!) 6) I wanted to be a scientist or a writer. Hasn't changed much ever since. 7) Sometimes and I...|||In some way communication is probably one of the things that lead to intelligence. Like, for example, someone asks you a philosophical question. This triggers your mind and urges you to think about...|||Yes, this happens to me all the time. But then again, by telling the truth, you get real friends and get rid of those who can't accept you. I think it's the best way of living there is.|||I'm thinking ENTP.|||Not all of them, I bet there are Sensors who have achieved the same thing with hard work.|||Jumping out from the third floor window and breaking a few bones. I was 10 years old and spent 4 h in pain until my parents came home.  That's about it.  Now that I think about it, definitely UTI|||I see dead people|||I don't have a system. I just write down important stuff in a chaotic way, so I'm the only person who can make sense out of it later. Also idk what I'd do without photographic memory, but I'm not...|||Love both the books and the series.|||OMG SO FREAKING AWESOME. Thank you!|||The Shawshank redemption.|||I've had a similar problem, only I'm the INTP. For example: A person might have hurt me in the past, and I have forgiven him, but I can't stop living in the past, so I bring back the event...|||Can I have one too? :kitteh: If possible, dark green shield, metallic color - grey.|||Something tells me Gatsby is introverted. All those parties he made and never took part in.|||Happens to me very often. When I get into a new class or just meet new people, in start they don't like me (and they show it), so I just ignore them, but after few months they usually warm up to me...|||No there aren't. There are days when I do everything as scheduled, but then I get bored of it and turn back to my normal self.|||Not knowing the answers to everything - yet.|||If I don't know a person very well I'm too busy with the social interaction and I'm not comfortable with expressing my humor, because the person probably wouldn't understand it. Like once I made a...|||Yes, but mostly with people I've known for years. I think it has definitely something to do with Ne. Sometimes I annoy people because I can already tell what they're going to say by their face...|||Procrastinating, trolling people and acting like it wasn't me, reading/watching something. Thinking up weird case scenarios, like when driving by bus I imagine how it would crash and people would...|||People have labeled me as ''socially retarded'', ''introverted freak'' - I'm not very communicative, so I'm comfortable with the labels unless people start to link ''introvert'' with ''ignorant'' -...|||I'm thinking ISFP or ISTP.|||Welcome to the forum! :kitteh:|||Biggest clich√© of them all probably is the never-ending fight between good and evil - good always wins.     A socially awkward/miserable guy turns into biggest hero of them all and in the end...|||Welcome, fellow ENFP! :kitteh:|||My guess would be ISTJ/ISFJ, somehow I don't see anything from INTJ.|||My Ni-Te is almost as strong as Ti-Ne, so I've had similar problems. Also close people think I'm extroverted, while others think I'm introverted. I sense a lot of Ni, so you might be INTJ/INFJ, but...|||Both, but lately more adapting, because I like a good challenge."

In [8]:
data.describe()

        type                                              posts
count   6506                                               6506
unique    16                                               6506
top     INFP  I think this was my original point. When peopl...
freq    1386                                                  1

In [9]:
data.groupby('type').count()

      posts
type
ENFJ    143
ENFP    496
ENTJ    167
ENTP    530
ESFJ     35
ESFP     36
ESTJ     30
ESTP     71
INFJ   1100
INFP   1386
INTJ    830
INTP    960
ISFJ    124
ISFP    198
ISTJ    145
ISTP    255

In [10]:
# imbalance types

<a id= "feature_creation"> </a>

---
## create features


 feature | regex
 ---|---
 `?`   | `r"(\?)"`
 `!`   | `r"(!)"`
 `...` | `r"(\.\.\.)"`
 youtube | ?part of social media
 www | `r"(www)"`
 jpg/jpeg/gif | <code>r"(jpe?g&#124;gif)"</code>
 emoji `;), :tongue:, :smile: #hastags?` | `r":[a-z]*:"`
 word count   | (\w+) / 50 (length per post sample)
 word_length > 5   | `r"(\w{5,})"`
 social_media (instagram, snapchat, etc)  | [social_medai]
 ALL_CAPS  | `r"(\b[A-Z]{2,}\b)"`

In [11]:
# trial functions
# data_trial1, data_trial2, data_trial3

In [12]:
data_trial2 = data['posts'].loc[1]

In [13]:
data_trial3 = data['posts'].loc[369]

In [14]:
data_trial1 = data['posts'].loc[42]

In [15]:
import re

In [16]:
# count question marks
def qm_count(string):
    q_mark = re.compile(r'(\?)')
    return len(re.findall(q_mark, string))

In [17]:
qm_count(data_trial3)

16

In [18]:
def exclaim_count(string):
    ex_mark = re.compile(r'(\!)')
    return len(re.findall(ex_mark, string))

In [20]:
exclaim_count(data_trial3)

6

In [21]:
def elipse_count(string):
    elipse = re.compile(r"(\.\.\.)")
    return len(re.findall(elipse, string))

In [22]:
elipse_count(data_trial1)

20

In [23]:
def emoji_count(string):
    emojis = re.compile(r"(:[a-z]*:)|([:;][()pdo03])",re.I)
    return len(re.findall(emojis,string))

In [24]:
emoji_count(data_trial3)

4

In [25]:
def word_count(string):
    words = re.compile(r"(\w+)")
    count = len(re.findall(words, string))
    return count/50

In [26]:
word_count(data_trial3)

31.0

In [27]:
def word_len(string):
    len5 = re.compile(r"\w{5,}")
    return len(re.findall(len5,string))/50

In [28]:
word_len(data_trial3)

9.84

In [29]:
def all_caps(string):
    mbti_type = set(data.type) # set of all mbti types
    capsloc = re.compile(r"\b[A-Z]{2,}\b")
    caps_words = [x for x in re.findall(capsloc,string) if x not in mbti_type]
    return len(caps_words)

In [30]:
all_caps(data_trial1)

6

In [31]:
def count_pix(string):
    pix = re.compile(r"\b(jpe?g|gif|png|img)\b",re.I)
    return len(re.findall(pix, string))

In [32]:
count_pix(data_trial2)

8

In [33]:
#def soc_media_count(string):
soc_media = "Twitter LinkedIn Google+ YouTube Pinterest Instagram Tumblr Flickr Reddit Snapchat WhatsApp Quora Vine Periscope\
                BizSugar StumbleUpon Delicious Digg Facebook".lower().split()

---
## Testing Feature Creation

In [34]:
test_data = data.loc[:1000]

In [35]:
test_data.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [36]:
def create_features(df):
    df['questions'] = df['posts'].apply(qm_count)
    df['exclaimed'] = df['posts'].apply(exclaim_count)
    df['elipses'] = df['posts'].apply(elipse_count)
    df['emojis'] = df['posts'].apply(emoji_count)
    df['word_count'] = df['posts'].apply(word_count)
    df['big_words'] = df['posts'].apply(word_len)
    df['images'] = df['posts'].apply(count_pix)    
    df['words_all_caps'] = df['posts'].apply(all_caps)

In [37]:
import warnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore") # ignore warning messages cluttering up view
    create_features(test_data)

In [38]:
test_data.head(10)

,type,posts,questions,exclaimed,elipses,emojis,word_count,big_words,images,words_all_caps
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,18,3,15,3,16.06,6.30,7,1
1,ENTP,'I'm finding the lack of me in these posts ver...,5,0,19,18,26.82,8.22,8,8
2,INTP,'Good one _____ https://www.youtube.com/wat...,12,4,13,10,18.66,7.34,0,3
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",11,3,26,0,23.52,7.44,0,12
4,ENTJ,'You're fired.|||That's another silly misconce...,10,1,21,3,21.88,7.78,2,13
5,INTJ,'18/37 @.@|||Science is not perfect. No scien...,10,0,39,0,31.70,10.18,0,3
6,INFJ,"'No, I can't draw on my own nails (haha). Thos...",13,3,37,9,29.02,9.96,0,15
7,INTJ,'I tend to build up a collection of things on ...,35,0,28,3,25.62,8.68,0,2
8,INFJ,"I'm not sure, that's a good question. The dist...",22,1,17,5,19.32,7.08,1,6
9,INTP,'https://www.youtube.com/watch?v=w8-egj0y8Qs||...,13,3,24,2,27.36,9.76,0,10

In [39]:
test_data.groupby('type').mean()

,questions,exclaimed,elipses,emojis,word_count,big_words,images,words_all_caps
type,,,,,,,,
ENFJ,9.958333,13.333333,33.708333,7.916667,26.835833,8.654167,0.708333,11.041667
ENFP,13.056338,11.901408,33.042254,6.535211,26.861690,8.481972,1.112676,8.774648
ENTJ,10.482759,8.827586,33.586207,3.827586,27.180690,8.964138,1.172414,8.482759
ENTP,10.972222,6.652778,30.486111,4.305556,25.934444,8.393611,1.208333,8.527778
ESFJ,12.750000,9.250000,21.250000,3.750000,26.100000,6.860000,1.250000,6.750000
ESFP,10.571429,17.428571,22.000000,4.714286,20.222857,6.474286,1.000000,10.142857
ESTJ,8.666667,11.333333,21.666667,2.666667,21.633333,6.573333,0.000000,8.333333
ESTP,15.181818,8.545455,24.363636,2.636364,24.489091,7.456364,0.545455,12.181818
INFJ,11.571429,9.223602,35.099379,6.236025,27.492671,8.977019,0.720497,7.478261
INFP,10.658228,8.696203,33.143460,5.594937,26.913755,8.715105,0.898734,6.924051
INTJ,10.946154,5.084615,30.015385,4.484615,26.378000,8.878769,1.661538,7.423077
INTP,10.496732,4.581699,32.797386,2.803922,27.685229,9.287712,1.241830,7.019608
ISFJ,9.437500,17.562500,40.000000,6.375000,28.756250,8.992500,1.312500,6.687500
ISFP,10.962963,11.888889,34.592593,7.518519,26.903704,8.788889,0.370370,6.407407
ISTJ,10.500000,12.000000,34.833333,3.250000,27.861667,9.038333,2.500000,6.000000
ISTP,12.613636,5.090909,26.227273,3.363636,24.720909,8.150000,1.227273,7.113636

note:

add social media count after tokenisation

In [40]:
test_data.describe()

,questions,exclaimed,elipses,emojis,word_count,big_words,images,words_all_caps
count,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000
mean,11.112887,8.056943,32.435564,4.989011,26.838581,8.774226,1.083916,7.546454
std,8.313498,10.000088,14.204439,6.122000,6.121899,1.996737,2.531986,6.847050
min,0.000000,0.000000,0.000000,0.000000,0.780000,0.200000,0.000000,0.000000
25%,6.000000,2.000000,23.000000,1.000000,23.500000,7.620000,0.000000,3.000000
50%,10.000000,5.000000,32.000000,3.000000,27.760000,9.000000,0.000000,6.000000
75%,15.000000,11.000000,41.000000,7.000000,31.260000,10.200000,1.000000,10.000000
max,121.000000,97.000000,133.000000,37.000000,39.040000,13.060000,28.000000,53.000000

<a id="nlp">  </a>

---
## NLP

In [ ]:
import nltk